
.profileSubs {
  width: 329px;
  min-height: 100px;
  margin-bottom: 16px;

  border-radius: 12px;
  background: #fff;
  padding: 8px;

  .profileSubsHeader {
    display: flex;
    align-items: center;
    height: 42px;
    width: 305px;
    padding: 0 12px;

    a {
      text-decoration: none;
      color: #000;

      .name {
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
        margin-right: 5px;
      }

      .count {
        font-size: 13px;
        font-weight: 600;
        line-height: 16px;
        color: #626d7a
      }
    }
  }

  .profileSubsItems {
    display: flex;
    flex-direction: column;
  }
}