.wall {
  border-radius: 12px;
  margin-top: 32px;
  width: 550px;
  height: 235px;
  background: #fff;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #e7e8ec;
  margin-bottom: 16px;

  .wallCategory {
    height: 44px;
    width: 534px;
    font-size: 13px;
    line-height: 15px;

    ul {
      padding: 0;
      margin: 0;

      display: flex;

      .categoryItem {
        display: flex;
        align-items: center;
        list-style: none;
        height: 28px;
        min-width: 76px;
        margin: 8px 0 8px 12px;
        padding: 2px 8px;
        color: #818C99;
        font-size: 14px;
        font-weight: 500;
        box-sizing: border-box;
        border: 1px solid transparent;

        &:hover {
          cursor: pointer;
          border-radius: 8px;
          box-shadow: rgba(0, 0, 0, 0.04) 0 4px 8px 0, rgba(0, 0, 0, 0.06) 0 0 4px 0;
          color: #346297;
          border: 1px solid #e7e8ec;
        }

        svg {
          margin-right: 10px;
        }
      }
    }
  }

  .wallContent {

    .wallNoContent {
      display: flex;
      flex-direction: column;
      align-items: center;

      width: 510px;
      height: 162px;
      padding: 48px 32px;
      box-sizing: border-box;

      span {
        text-align: center;
        margin-bottom: 15px;
        color: #818C99;
        font-size: 14px;
        line-height: 18px;
      }

      .upload {
        width: 135px;
        height: 32px;
        border-radius: 8px;
        font-size: 13.3px;
        border: none;
        background: #E5EBF1;
        color: #346297;
        font-weight: bold;
        
        &:hover {
          cursor: pointer;
          background: #d6dbe0;
        }
      }

    }

  }
}