.items {
  padding: 20px;
  height: 485px;
  overflow: scroll;
  overflow-x: hidden;
  box-sizing: border-box;

  .founded {
    height: 19px;
    padding: 17px 10px 12px 10px;
    line-height: 19px;
    font-size: 13px;
    font-weight: 500;
    color: #626d7a;
  }
}

.noScroll {
  overflow: hidden;
}

.isMyMusic {
  height: 674px;
}