.items {
  padding: 20px;
  height: 450px;
  overflow: scroll;
  overflow-x: hidden;

  .founded {
    height: 19px;
    padding: 17px 10px 12px 10px;
    line-height: 19px;
    font-size: 13px;
    font-weight: 500;
    color: #626d7a;
  }
}