.input {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;

  .inputLabel {
    display: flex;

    input {
      font-size: 13px;
      line-height: 20px;
      background: #EDEEF0;
      color: #2B2B2C;
      height: 36px;
      width: 310px;
      padding: 8px 12px;
      cursor: text;
      border-radius: 8px;
      box-sizing: border-box;
      outline: none;
      border: 1px solid #cecccc;
    }

    input::placeholder {
      color: #757575;
    }

    input:focus {
      border: 1px solid #447BBA;
    }
  }

  .errorWrapper {
    margin-top: 2px;
    .error {
      color: #ff5c5c;
      font-size: 13px;
      line-height: 16px;
    }
  }
}