.wrapper {
  width: 550px;
  .container {
    background: #fff;
    width: 550px;
    min-height: 200px;
    border-radius: 12px;
    padding: 18px 20px;
    box-sizing: border-box;
    margin-bottom: 18px;
  }
}