.categoryPosts {
  font-size: 13px;
  line-height: 15px;
  height: 45px;
  width: 550px;
  padding: 0 10px;
  box-sizing: border-box;
  background: #fff;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border: 1px solid #e7e8ec;

  display: flex;
  justify-content: space-between;

  .cat {

    ul {
      padding: 0;
      margin: 0;
      display: flex;

      .catItem {
        list-style: none;
        min-width: 68px;
        height: 15px;
        margin: 0 4px -1px 4px;
        padding: 16px 6px 13px 6px;

        &:hover {
          cursor: pointer;
          border-bottom: 2px solid #447bba;
        }
      }
    }
  }

  .postSearch {

    span {

      svg {
        position: relative;
        bottom: 2.5px;
        width: 18px;
        height: 18px;
        padding: 17px 6px 14px 6px;
        margin: 0 4px -1px 4px;
        fill: #B4C0D1;
        
        &:hover {
          cursor: pointer;
          fill: #757f8a;
        }
      }
    }
  }

}