.favoritesAndRepost {
  padding: 17px 0 0 0;
  margin-bottom: 8px;
  display: flex;
  align-content: center;
  align-self: center;
  align-items: center;

  .svg {
    width: 85px;
    display: flex;
    justify-content: space-between;

    .favorites {
      position: relative;
      display: flex;
      align-items: center;

      &:hover {
        cursor: pointer;
        .favoriteAdders {
          display: block;
        }
      }
    }


    .heartIcon {
      width: 22px;
      font-size: 24px;
      color: gray;
      transition: color 0.3s ease;
      cursor: pointer;

      &:hover {
        .favoriteAdders {
          display: block;
        }
      }
    }

    .favoriteAdders {
      display: none;
      position: absolute;
      bottom: 40px;

      &:after {

      }
    }


    .favoritesLength {
      margin-left: 6px;
      font-size: 14px;
      font-weight: 500;
      line-height: 16px;
      color: #e64646;
    }


    .favorite {
      color: #e64646;
      animation: heartbeat 0.5s;
    }
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
    color: #e64646;
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}