.musicItem {
  margin-left: 3px;
  display: flex;
  position: relative;
  padding: 7px 2px 5px;

  &:hover {
    .audioIcon {
      background: rgba(0, 0, 0, 0.55);
    }

    .icon {
      .playOrPause {
        display: block;

        .play, .pause {
          color: #FFFFFF;
          background: transparent;
        }
      }
    }
  }

  .editAndRemove {
    display: flex;
    align-items: center;
    justify-content: space-between;


    .edit, .remove, .more {
      position: relative;
      bottom: 4px;
      fill: #AEB7C2;
      width: 22px;
      height: 22px;

      &:hover {
        cursor: pointer;
        fill: #99a2ad;
      }
    }

    .remove {
      position: relative;
      left: 5px;
      width: 20px;
      height: 20px;
    }

    .more {
      position: relative;
      left: 10px;
      width: 14px;
      height: 14px;
    }

    .moreWrapper {
      position: relative;

      .menu {
        border-radius: 3px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
        display: none;
        position: absolute;
        top: 20px;
        right: 0;
        width: 174px;
        height: 74px;
        background: #fff;
        z-index: 999;
        box-sizing: border-box;
        padding: 4px 0;


        //font-size: ;

        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;

          li {
            padding: 8px 12px;
            box-sizing: border-box;
            font-size: 13px;
            color: #2a5885;
            height: 32px;

            &:hover {
              background: #F5F6F8;
            }
          }
        }
      }
    }
  }

  .icon {
    position: relative;
    bottom: 3px;
    width: 40px;
    height: 40px;
    background: #EBEDF0;
    border-radius: 10px;
    margin-right: 10px;

    svg {
      padding: 10px 9px;
      background: #EBEDF0;
      border-radius: 10px;
    }

    .playOrPause {
      display: none;
      position: absolute;
      left: -2px;
      top: -2px;

      .play, .pause {
        //display: none;
        color: #FFFFFF;
        background: transparent;
      }

      &:hover {
        .play, .pause {
          display: block;
        }
      }
    }

    .playOrPauseActive {
      display: block;
      position: absolute;
      left: -2px;
      top: -2px;

      .play, .pause {
        color: #FFFFFF;
        background: transparent;
      }
    }
  }

  .iconActive {
    //background: rgba(0, 0, 0, 0.5);
    svg {
      background: rgba(0, 0, 0, 0.55);
    }
  }
}

