.auth {
  color: #000;
  background: #EDEEF0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;


  .container {
    box-sizing: border-box;
    padding: 32px 24px;
    width: 360px;
    height: 456px;
    border-radius: 12px;
    //border: 1px solid #2B2B2C;
    background:  #f0f2f5;

    .header {

      .logo {
        display: flex;
        justify-content: center;

        img {
          width: 48px;
          height: 48px;
        }
      }




    }
  }
}