.wrapper {
  min-width: 755px;
  max-width: 860px;
  width: 100%;
  box-sizing: border-box;
  .main {
    display: flex;
    align-items: center;
    flex-direction: column;

    min-height: 175px;
    padding: 20px;
    //box-sizing: border-box;
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    .button {
      padding: 0 30px;
      width: 180px;

      .saveBtn {
        min-width: 136px;
        max-width: 178px;
        height: 32px;
        padding: 0 16px;
      }
    }

  }

}