.wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .myTracks {
    width: 909px;
    background: #fff;
    border-radius: 12px;
    border: 1px solid #dbdbdc;
    min-height: 170px;

    .musicItems {
      padding: 20px 20px 5px;
      margin-left: -8px;

      .active {
        cursor: pointer;
        background: #F2F3F5;
      }

      .musicItemWrapper {
        margin-bottom: 3px;
        box-sizing: border-box;
        border-radius: 8px;
        //padding: 7px 2px 5px;
        &:hover {
          cursor: pointer;
          background: #F2F3F5;
        }
        .musicItem {
          width: 385px;

          margin-right: 15px;
          box-sizing: border-box;
        }
      }

      .musicItem {
        box-sizing: border-box;
        margin-bottom: 5px;
        padding: 7px 2px 5px;
        border-radius: 8px;

        &:hover {
          cursor: pointer;
          background: #F5F6F8;

          .time {
            display: none;
          }

          .removeAndEdit {
            display: flex;
          }
        }

        .time {
          position: relative;
          left: 335px;
        }

        .removeAndEdit {
          //display: none;
          position: relative;
          left: 335px;
        }
      }
    }
  }
}