.photoItem {
  margin: 3.6px;
  width: 185px;
  height: 125px;
  box-sizing: border-box;

  &:hover {
    cursor: pointer;

   .item {
     .description {
       transform: translateY(-10px);
     }
   }
  }

  .container {
    .item {
      width: inherit;
      height: inherit;

      .img {
        width: inherit;
        height: inherit;
        img {
          width: 185px;
          height: 125px;
          background-position: 50% 35%;
          background-repeat: no-repeat;
        }
      }

      .input {
        position: relative;
        //left: 100px;
        bottom: 4px;

        div {

          padding: 0;
            input {

              border-radius: 0;
              width: 185px;
              min-height: 28px;
              padding: 8px 9px;
              outline: none;
              background: #fff;
            }
        }
      }

    }
  }
}

.myPhotoItem {
  margin: 3.6px;
  max-width: 370px;
  min-width: 222px;
  max-height: 222px;
  min-height: 222px;
  box-sizing: border-box;

  &:hover {
    cursor: pointer;
  }

  .container {


    .item {
      width: inherit;
      height: inherit;

      .img {
        width: inherit;
        height: inherit;
        img {
          min-width: 222px;
          max-width: 370px;
          max-height: 222px;
          min-height: 222px;
          background-position: 50% 35%;
          background-repeat: no-repeat;
        }
      }

    }
  }
}