.communityHeader {
  width: 911px;
  height: 401px;
  border: 1px solid #e7e8ec;
  border-radius: 12px;
  margin-bottom: 32px;

  .communityBackground {
    height: 303px;
    background: lightskyblue;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  .communityInfo {
    position: relative;
    top: -10px;
    border-radius: 12px;

    height: 83px;
    background: #ffffff;
    padding: 20px;
    display: flex;

    .communityPhoto {
      position: relative;
      bottom: 50px;
      right: 5px;

      min-width: 110px;
      min-height: 110px;
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;

      img {
        width: 100px;
        height: 100px;
        border-radius: 100%;
      }
    }

    .communityDetails {
      width: 721px;
      height: 79px;
      display: flex;
      justify-content: space-between;

      margin: 0 0 4px 16px;

      .communityNameStatusOthers {
        width: 408.5px;

        display: flex;
        flex-direction: column;

        .name {
          font-size: 21px;
          font-weight: 600;
          line-height: 26px;
          height: 26px;

          margin-bottom: 10px;
        }

        .subscribes {
          display: inline-flex;
         align-items: center;
          font-size: 13px;
          line-height: 16px;
          color: #6f7958;

          b {
            font-size: 14px;
          }

          .info {

          }

          .friendItem {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background: #fff;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            margin-right: 6px;
            
            &:hover {
              cursor: pointer;
            }
            img {
              width: 18px;
              height: 18px;
              border-radius: 100%;
            }
          }
        }

        .status, .city {
          display: flex;
          align-items: center;
          font-size: 13px;
          line-height: 16px;
          height: 29px;
        }

         .city {
          color: #626d7a;

           &:hover {
             cursor: pointer;
             text-decoration: underline;
           }

           svg {
             color: #626d7a;
           }
        }
      }

      .communityBtns {
        display: flex;
        min-width: 190px;

        button {
          margin-right: 10px;

          &:last-of-type {
            margin-right: 0;
          }
        }

        .btn{
          border-radius: 8px;
          padding: 0 16px;
          border: none;
          color: #fff;
          background: #447BBA;
          height: 32px;

          &:hover {
            background: #6597d2;
            cursor: pointer;
          }
        }

        .btnMessage {

          border-radius: 8px;
          border: none;
          height: 32px;
          width: 32px;
          background: #E5EBF1;

          &:hover {
            background: #d6d7da;
            cursor: pointer;
          }

          svg {
            width: 20px;
            height: 20px;
            color: #346297;
          }
        }
      }
    }

    .communitySubscribe {

      .subscribe {
        button {
          min-width: 109px;
          height: 32px;
          padding: 0 16px;
        }

      }
    }
  }
}