.post {
  min-height: 80px;
  border: 1px solid #e7e8ec;
  border-radius: 12px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  width: 548px;

  .header {
    display: flex;
    padding: 15px 20px 0 20px;

    .avatar {
      margin-right: 15px;

      img {
        border-radius: 100%;
        width: 50px;
        height: 50px;
      }
    }

    .nameAndDate {
      display: flex;
      flex-direction: column;
      width: 421px;
      padding: 8px 0 0 0;


      .name {
        font-size: 13px;

        a {
          color: #2a5885;
          font-weight: 500;
          line-height: 16px;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }

        }
      }

      .date {
        font-size: 12.5px;

        a {
          color: #818C99;
          line-height: 14px;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .crudComponent {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: end;

      &:hover .crud {
        visibility: visible;
      }

      .svgComponent {
        svg {
          color: #AEB7C2;

          &:hover {
            cursor: pointer;
          }
        }
      }

      .crud {
        position: absolute;
        margin-top: 30px;
        min-width: 150px;
        width: 188px;
        max-width: 250px;
        min-height: 44px;
        padding: 6px 0;
        z-index: 1;
        box-shadow: rgba(0, 0, 0, 0.32) 0 20px 40px 0;
        border-radius: 8px;
        background: #fff;

        opacity: 0;
        visibility: hidden;
        transform: translate(0%, 50%);
        transition: .3s ease;

        &.show {
          opacity: 1;
          visibility: visible;
          transform: translate(0%, 0%);
        }

        ul {
          overflow: hidden;
          padding: 0;
          margin: 0;

          li {
            display: block;
            padding: 8px 15px;
            font-size: 13px;
            line-height: 18px;

            &:hover {
              cursor: pointer;
              background: #F5F6F8;
            }
          }
        }

      }
    }
  }

  .postText {
    min-height: 22px;
    width: 510px;
    font-size: 13px;
    line-height: 14px;
    text-align: left;
    padding: 8px 20px 0 20px;

    .editText {
      position: relative;
      min-height: 80px;

      .textArea {
        resize: none;
        box-sizing: border-box;
        outline: none;
        display: block;
        width: 510px;
        min-height: 48px;
        border: 1px solid #dce1e6;
        border-radius: 8px;
        padding: 5px 21px 7px 9px;
        font-size: 13px;
        line-height: 16px;
      }

      .btnDiv {
        position: absolute;
        right: 0px;
      }

      .btn {
        min-width: 78px;
        height: 30px;
        padding: 0 16px;
        font-size: 13px;
        outline: none;
        border: none;
        border-radius: 7px;
        color: #245385;
        margin: 8px 0;

        &:hover {
          background: #e5ebf1;
          color: #346297;
          cursor: pointer;
        }

        &:nth-of-type(1) {
          margin: 0 10px 0 0;
        }
      }

      .btnSave {
        background: #447bba;
        color: #fff;

        &:hover {
          background: #5a85c4;
          color: #fff;
        }
      }
    }

    .text {
      height: 19px;
      line-height: 19px;
      font-size: 13px;
      margin: 0 0 8px 0;
      padding: 3px 0 0 0;
      cursor: pointer;
    }
  }

  .bottom {
    height: 56px;
    padding: 0 20px;
    width: 510px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .buttonComponent {
      width: 160px;
      height: 32px;
      display: flex;
      justify-content: space-between;

      .bottomBtn {
        height: 32px;
        width: 48px;
        padding: 4px 12px;
        cursor: pointer;
        background: #f0f2f5;
        border: none;
        border-radius: 32px;

        svg {
          color: #99a2ad;
        }

        &:hover {
          background: #e8e8ea;
        }
      }
    }

    .viewsComponent {
      color: #99a2ad;
      font-size: 13px;
      display: flex;
      span {

        svg {
          width: 14px;
          height: 14px;

          margin-right: 3px;
        }
      }


    }


  }
}