.showMore {
    align-self: center;
    font-size: 13px;
    color: #2a5885;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      text-decoration: underline;

      .smallRightArrow {
        transform: translateX(2px);
        animation: transform 1s ease;
      }
    }

    .smallRightArrow {
      position: relative;
      color: #AEB7C2;
      top: 2px;
      width: 13px;
      height: 13px;
    }
  }
