
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  box-sizing: border-box;
  //border: 1px solid;
  border-radius: 12px;
  width: 1800px;
  height: 910px;
  background: #222222;

  .leftSlide {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background: #fff;
    width: 310px;
    height: 100%;
  }
}
