.comments {
  min-height: 690px;
  max-height: 690px;
  //width: 300px;
  flex: 0;
  //height: 600px;
  //min-height: 100%;


  .commentsList {
    display: flex;
    flex: 0;
    justify-content: center;
    //align-items: center;
    text-align: center;
    min-height: inherit;
    max-height: inherit;
    overflow: scroll;
    //width: 390px;

    .noCommentsWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      //min-height: 690px;

      .noComments {
        height: 113px;
        padding: 0 30px;
        color: #AEB7C2;;
      }
    }

    .commentItem {
      padding: 0 20px 0 15px;
    }

    svg {
      width: 56px;
      height: 56px;
      margin-bottom: 15px;
    }
  }

  .commentsWrite {
    min-height: 52px;
    border-top: 1px solid #DCE1E6;
    display: flex;

    .commentUserAvatar {
      display: flex;
      justify-content: center;
      align-self: center;
      width: 55px;
      padding-left: 10px;
      //height: 28px;
      border-radius: 50%;

      img {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        border: 1px solid;
      }
    }

    .setComment {
      .edit {
        color: #858E99;
        font-size: 13px;
        line-height: 19px;
        padding: 16px 20px 16px 5px;
      }

      .textareaField {
        padding-top: 15px;
        textarea {
          border: 0;
          min-height: 80px;
          max-height: 80px;
          width: 239px;
          min-width: 239px;
          max-width: 239px;
          font-size: 13px;
          outline: none;
          box-sizing: border-box;
          padding: 0 10px 15px 10px;
          color: #000;
          //resize: vertical;
          overflow: auto;
          line-height: 19px;
          word-wrap: break-word;

          &::placeholder {
            color: #a5a9af;
          }
        }
      }

      .textareaFieldEdit {
        max-height: 200px;
      }
    }
  }

  .commentsWriteEditing {
    position: relative;

    img {
      position: relative;
      bottom: 17px;
    }
    //bottom: 100px;
  }
}