.comments {

  //height: 600px;
  //min-height: 100%;

  .commentsList {
    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 690px;


    svg {
      width: 56px;
      height: 56px;
      margin-bottom: 15px;
    }
    .noComments {
      height: 113px;
      padding: 0 30px;
      color: #AEB7C2;;
    }
  }

  .commentsWrite {
    background: #6f7958;
    min-height: 52px;
    border-top: 1px solid #DCE1E6;
    display: flex;

    .commentUserAvatar {
      display: flex;
      justify-content: center;
      align-self: center;
      width: 55px;
      padding-left: 10px;
      //height: 28px;
      border-radius: 50%;

      img {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        border: 1px solid;
      }
    }

    .setComment {

      .edit {
        color: #858E99;
        font-size: 13px;
        line-height: 19px;
        padding: 16px 20px 16px 5px;
      }

      .textareaField {

        textarea {
          min-height: 80px;
          max-height: 200px;
          width: 250px;
          font-size: 13px;
          outline: none;
          border: 1px solid #ff5c5c;
          box-sizing: border-box;
          padding: 5px;
          color: #000;
          //resize: vertical;
          overflow: hidden;
          line-height: 19px;
          word-wrap: break-word;

          &::placeholder {
            color: #a5a9af;
          }
        }
      }

      .textareaFieldEdit {
        max-height: 200px;
      }
    }
  }

  .commentsWriteEditing {
    position: relative;
    //bottom: 100px;
  }
}