.postWrite {
  width: 550px;
  border-radius: 12px;
  background: #ffffff;
  display: flex;
  margin-bottom: 16px;
  border: 1px solid #e7e8ec;

  &Active {
    min-height: 141px;
    flex-direction: column;
  }

  .imgAndInput {
    display: flex;

    &Active {
      min-height: 84px;
    }

    .profileImg {

      position: relative;
      top: 12px;
      left: 20px;
      img {
        border-radius: 100%;
        width: 28px;
        height: 28px;
      }

    }

    .inputField {
      margin-left: 28px;
      width: 480px;
      min-height: 52px;

      &Active {
        min-height: 80px;
        border-bottom: 1px solid #dce1e6;
      }

      textarea {
        width: 480px;
        height: 52px;
        font-size: 13px;
        outline: none;
        border: none;
        box-sizing: border-box;
        padding: 16px 20px 16px 12px;
        color: #000;
        resize: none;
        overflow:hidden;
        line-height: 19px;
        word-wrap: break-word;


        &::placeholder {
          color: #818C99;
        }

        &:focus {
          min-height: 80px;
          height: 100%;
        }
      }
    }
  }
}

