.wrapper {
  padding: 0 0 0 20px;
  position: relative;
  margin-top: 10px;

  &:hover {
    .leftArrow, .rightArrow {
      display: flex;
    }
  }

  .title {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding-right: 20px;

    h2 {
      font-size: 15px;
      font-weight: 500;
    }
  }

  .leftArrow, .rightArrow {
    display: none;
    width: 26px;
    height: 26px;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0 0 15px 0;
    //display: flex;
    justify-content: center;
    align-items: center;

    svg {
      color: #99a2ad;
      width: 12px;
      height: 16px;
    }

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 15px 0;
      background: #fff;
    }
  }

  .leftArrow {
    position: absolute;
    top: 117px;
    z-index: 1;
  }

  .rightArrow {
    position: absolute;
    //top: 105px;
    bottom: 85px;
    right: 17px;
    z-index: 1;
  }

  .musicItems {
    display: flex;
    flex-direction: column;
    height: 185px;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 10px 0;
    z-index: 1;
    overflow: hidden;

    &:hover {
      .removeAndEdit {
        display: flex;
      }
    }


    .musicItemWrapper {
      margin-bottom: 3px;
      box-sizing: border-box;
      border-radius: 8px;
      width: 403px;
      //padding: 7px 2px 5px;
      &:hover {
        cursor: pointer;
        background: #F2F3F5;
      }

      .musicItem {
        width: 385px;

        margin-right: 15px;
        box-sizing: border-box;

        &:hover {
          .time {
            display: none;
          }

          .removeAndEdit {
            display: flex;
          }
        }

        .removeAndEdit {
          display: none;
          position: relative;
          right: 140px;
        }

      }
    }
  }
}

.active {
  cursor: pointer;
  background: #F2F3F5;
}