.wrapper {

  .title {
    h2 {
      font-size: 15px;
      font-weight: 500;
    }
  }

  .musicItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 185px;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 10px 0;
    z-index: 1;
    overflow: hidden;

    .musicItemWrapper {
      margin-bottom: 3px;
      box-sizing: border-box;
      border-radius: 8px;
      padding: 7px 2px 5px;
      &:hover {
        cursor: pointer;
        background: #F2F3F5;

        svg {
          background: rgba(0, 0, 0, 0.5);
        }
      }
      .musicItem {
        width: 404px;

        margin-right: 15px;
        box-sizing: border-box;
      }
    }
  }
}

.active {
  cursor: pointer;
  background: #F2F3F5;
}