.info {
  position: relative;
  bottom: 2px;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  width: 445px;

  .title {
    width: 401px;
    font-weight: 500;
    color: #333;
  }

  .artist {
    width: 401px;
    color: #818c99;
  }

  .input {
    height: 2px;

    .duration {
      width: 445px;
      height: 2px;
      appearance: none;
      background: #447BBA;
      background: linear-gradient(to right, blue, blue) no-repeat;

      &:hover {
        cursor: pointer;

        &::-webkit-slider-thumb {
          width: 6px;
          height: 6px;
        }
      }
    }

    .duration::-webkit-slider-thumb {
      appearance: none;
      width: 0;
      height: 0;
      background: #447BBA;
      border-radius: 50%;

      transition: .15s ease-in-out;
    }
  }


}

.time {
  position: absolute;
  right: 0;
  font-size: 12px;
  color: #828A99;
  padding: 12px 0 0 8px;
}