.item {
  display: flex;
  box-sizing: border-box;
  //padding: 9px 0;
  margin-bottom: 2px;

  .container {
    display: flex;
    align-items: center;
    height: 40px;
    width: 476px;
    border-radius: 8px;

    &:hover {
      cursor: pointer;
      background: #F2F3F5;
    }


    .pauseOrPlay {
      position: relative;
      top: 2px;
      padding: 0 9px;

      &:hover {
        cursor: pointer;
      }

      svg {
        width: 24px;
        height: 24px;
        color: #447BBA;
      }
    }

    .musicInfo {
      position: relative;
      bottom: 3px;


      .info {
        display: flex;
        align-items: center;

        .artist {
          font-size: 13px;
          color: #2a5885;
          font-weight: 500;
        }

        .title {
          font-size: 13px;
        }
      }

      .durationWrapper {
        overflow: hidden;
        position: relative;
        bottom: 10px;
        left: -2px;
      }
    }


    .time {
      font-size: 13px;
      color: #818c99;
      position: relative;
      bottom: 8px;
      left: 28px;
    }

    .input {
      height: 2px;

      .duration {
        width: 356px;
        height: 2px;
      }
    }
  }


  .select {
    position: relative;
    left: 10px;
    width: 44px;
    height: 40px;
    padding: 8px 10px;
    box-sizing: border-box;

    &:hover {
      cursor: pointer;
    }

    .selected {
      color: #447BBA;
    }

    .notSelected {
      color: #B8C0CA;
    }

    svg {
      width: 24px;
      height: 24px;
    }
  }
}