.wrapper {
  width: 911px;
  height: 59px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  border: 1px solid #dbdbdc;
  box-sizing: border-box;

  border-radius: 12px;

  .container {
    display: flex;
    padding: 0 20px;
    .musicController {
      display: flex;

      .playOrPause {
        width: 35px;
        //height: 30px;
        svg {
          color: #447BBA;
        }
      }
      .prevAndNext {
        display: flex;
        margin: 0 10px;
        .prev {
          width: 20px;
          //display: flex;
          //height: 20px;
          svg {
            //width: 20px;
            //height: 20px;
            position: relative;
            right: 5px;
            color: #739CCB;
          }

          &:hover {
            svg {
              color: #447BBA;
            }
          }
        }

        .next {
          width: 20px;
          //display: flex;
          //height: 20px;
          svg {
            //width: 20px;
            //height: 20px;
            position: relative;
            right: 5px;
            color: #739CCB;
          }

          &:hover {
            svg {
              color: #447BBA;
            }
          }
        }
      }

    }

    .musicItem  {
      margin-left: 3px;
      display: flex;
      position: relative;

      .icon {
        position: relative;
        bottom: 3px;
        width: 40px;
        height: 40px;
        background: #EBEDF0;
        border-radius: 10px;
        margin-right: 10px;
        

        svg {
          padding: 10px 9px;
          background: #EBEDF0;
          border-radius: 10px;
        }
      }
    }

    .options {
      display: flex;
      .random {
        svg {
          color: #A6AEB7;

          &:hover {
            color: #99A2AD;
          }
        }
      }

      .repeat {
        svg {
          color: #A6AEB7;

          &:hover {
            color: #99A2AD;
          }
        }
      }
    }
  }
}

button {
  border: none;
  background: #fff;

  &:hover {
    cursor: pointer;
  }
}