.wrapper {
  box-sizing: border-box;
  padding: 0 20px;

  .search {
    width: 100%;
    padding: 0;

    input {
      width: 100%;
    }
  }

  .spinner, .clear {
    top: 5px;
    left: 785px;
  }
}