.header {
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  //min-width: 755px;
  width: inherit;
  height: 62px;
  padding: 0 20px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

  //border-bottom: 1px solid #dce1e6;

  &::after {
    content: '';
    position: absolute;
    top: 124.5px;
    width: 755px;
    height: 1px;
    background-color: #dce1e6;
  }

  .albumTitle {
    .title {
      font-size: 16px;
      line-height: 54px;
      .count {
        font-size: 14px;
        line-height: 54px;
        color: #626d7a;
      }
    }
  }

  .buttons {
    //width: 320px;
    ul {
      display: flex;
      padding: 0;
      margin: 0;
      //width: 100%;
      list-style-type: none;
      justify-content: center;

      li {
        display: flex;
        align-items: center;
        min-width: 100px;
        height: 28px;
        padding: 0 16px;


        font-size: 13px;
        color: #224b7a;
        border-radius: 8px;


        &:hover {
          cursor: pointer;
        }


        &:nth-child(1) {
          background-color: #dae2ea;

          &:hover {
            background-color: #d0d8e0;
          }
        }

        &:nth-child(2) {
          margin-left: 10px;
          background-color: #447bba;
          color: #fff;

          &:hover {
            opacity: .7;

          }
        }
      }


    }
  }

}